######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
application.properties
.classpath
.settings/
.loadpath
.factorypath
.tern-project
/src/main/resources/rebel.xml

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
log/
target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
